{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block extra_title %}| Add Product{% endblock %}
{% block content %}
{% if user.is_superuser %}
<div id="content-container" class="container">
    <div class="row">
        <div class="col">
            <h2 class="mb-4 display-3">Add Product:</h2>
        </div>
    </div>
    <div class="row">
        <form action="{% url 'add_product' %}" class="form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-dark mt-3">Add Product</button>
        </form>
    </div>
    <span class="my-3">
        <a href="{% url 'site_admin' %}" class="text-dark">
            <i class="fas fa-chevron-left"></i>
            <span class="roboto">Back to Admin Panel</span>
        </a>
    </span>
</div>
{% else %}
    <div id="content-container" class="container">
        <div class="row">
            <div class="col">
                <h2 class="mb-4 display-3">Access Denied</h2>
            </div>
        </div>
        <div class="row">
            <p>You have insufficient privileges to access this page.</p>
            <a href="{% url 'home' %}" class="btn btn-light rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Back to Home</span>
            </a>
        </div>
    </div>
{% endif %}
{% endblock %}
 