{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block extra_title %}| Add Product{% endblock %}
{% block content %}
<div id="content-container" class="container">
    <div class="row">
        <div class="col">
            <h2 class="mb-4 display-3">Message:</h2>
        </div>
    </div>
    <div class="row">
        <p>From: {{ submission.full_name }}</p>
        <p>Email: {{ submission.email }}</p>
        <p>Subject: {{ submission.subject }}</p>
        <p>Message: {{ submission.message }}</p>
        <p>Received: {{ submission.submitted_on }}</p>
        {% if submission.responded_to %}
            <p><strong>You have replied to this message.</strong></p>
        {% else %}
            <p><strong>You have to reply to this message.</strong></p>
        {% endif %}
    </div>
</div>
{% endblock %}
 