{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block extra_title %}| Contact Submissions{% endblock %}
{% block content %}
<div id="content-container" class="container">
    <div class="row">
        <div class="col">
            <h2 class="mb-4 display-3">Update Product:</h2>
        </div>
    </div>
    <div class="row">
        <h4>
            Contact Submissions:
        </h4>
        <ul class="list-group">
            {% for submission in submissions %}
                <li class="list-group-item">
                    <a href="{% url 'contact_submission_detail' submission.id %}" class="text-black roboto">
                        From {{submission.full_name}} on {{submission.submitted_on}}
                    </a> 
                    {% if submission.responded_to %}
                    <i class="fas fa-check"></i>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <span class="my-3">
        <a href="{% url 'site_admin' %}" class="text-dark">
            <i class="fas fa-chevron-left"></i>
            <span class="roboto">Back to Admin Panel</span>
        </a>
    </span>
</div>
{% endblock %}
 