{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block extra_title %}| Update Product{% endblock %}
{% block content %}
<div id="content-container" class="container">
    <div class="row">
        <div class="col">
            <h2 class="mb-4 display-3">Update Product:</h2>
        </div>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-dark mt-3">Update Product</button>
    </form>
</div>
{% endblock %}
 