{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Home{% endblock %}
{% block content %}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item item-1 active"><a href="#"></a></div>
    <div class="carousel-item item-2"><a href="#"></a></div>
    <div class="carousel-item item-3"><a href="#"></a></div>
  </div>
</div>
<div class="shop-now-btn">
  <a class="btn btn-success" href="{% url 'packs' %}">SHOP NOW</a>
</div>
{% endblock %}

{% block postload_js %}
<script>
  var myCarousel = document.querySelector('#myCarousel')
  var carousel = new bootstrap.Carousel(myCarousel, {
    interval: 2000,
    wrap: false
  })
</script>
{% endblock %}
