{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Home{% endblock %}
{% block content %}

<div id="mobile-logo" class="d-md-none position-absolute start-50 translate-middle">
  <h2 class="display-1">Tonez</h2>
</div>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item item-1 active"><a href="#"></a></div>
    <div class="carousel-item item-2"><a href="#"></a></div>
    <div class="carousel-item item-3"><a href="#"></a></div>
  </div>
</div>
<div>
  <a class="shop-now-btn btn roboto text-white" href="{% url 'packs' %}">Shop Now!</a>
</div>
{% endblock %}

{% block postload_js %}
<script>
  var myCarousel = document.querySelector('#myCarousel')
  var carousel = new bootstrap.Carousel(myCarousel, {
    interval: 2000,
    wrap: false
  })
</script>
{% endblock %}
