{% extends "base.html" %}
{% load static %}

{% block extra_title %}| {{ pack.name }}{% endblock %}
{% block content %}
<div id="content-container" class="container">
    <div id="search-group">
        <form method="GET" action="{% url 'packs' %}" class="">
          <div id="search-bar" class="row d-flex justify-content-center my-2 ">
            <div class="col-md-6">
              <div class="card">
                <div class="input-group rounded-0">
                  <input class="form-control border border-black rounded-0" type="text" name="q"
                    placeholder="Search...">
                  <button class="btn" type="submit">
                    <span class="icon">
                      <i class="fas fa-search"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
    </div>

    <div id="shopping-bag" class="text-center mt-3 me-3 d-none d-md-block">
        <a href="{% url 'shopping_cart' %}">
          <div><i class="fas fa-shopping-bag fa-lg"></i></div>
          <p class="my-0">
            {% if grand_total %}
            ${{ grand_total|floatformat:2 }}
            {% else %}
            $0.00
            {% endif %}
          </p>
        </a>
    </div>

    <span>
        <a href="{% url 'packs' %}" class="text-dark my-2">
            <i class="fas fa-chevron-left"></i>
            <span class="roboto">Back to Packs</span>
        </a>
    </span>
    <div class="container-fluid">
        <div class="row pack-detail-margin">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <a href="{{ pack.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ pack.image.url }}" alt="{{ pack.name }}">
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-5">
                <div class="product-details">
                    <h1>{{ pack.name }}</h1>
                    <p class="text-muted">{{ pack.description }}</p>
                    <p class="pack-price">£{{ pack.price }}</p>
                    <p><strong>Category:</strong> <a href="{% url 'packs' %}?category={{ pack.category.name }}">{{ pack.category.friendly_name }}</a></p>
                </div>
                <form class="form" action="{% url 'add_to_cart' pack.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <input type="submit" class="btn btn-dark rounded-0 text-uppercase" value="Add to Cart">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        </div>
    </div>

    <div id="demo-player" class="container my-3">
        {{ pack.demo_link | safe }}
    </div>
</div>

{% endblock %}
