{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}| Shopping Cart{% endblock %}
{% block content %}

<div id="checkout-container" class="mb-2 mx-5">
    <div class="row">
        <div class="col">
            <h2 class="mb-4">Checkout</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <div class="row">
                <div class="col-7 offset-2">
                    <p class="mb-1 mt-0 small text-muted">Item</p>
                </div>
                <div class="col-3 text-right">
                    <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                </div>
            </div>
            {% for item in cart_items %}
                <div class="row">
                    <div class="col-2 mb-1">
                        <a href="{% url 'pack_detail' item.pack.id %}">
                            <img class="w-100" src="{{ item.pack.image.url }}" alt="{{ pack.name }}">
                        </a>
                    </div>
                </div>
                <div class="col-7">
                    <p class="my-0"><strong>{{ item.pack.name }}</strong></p>
                </div>
            {% endfor %}
            <hr class="my-0">
            <div class="row text-black text-right">
                <div class="col-7 offset-2">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">Discount:</p>
                    <p class="my-0">Grand Total:</p>
                </div>
                <div class="col-3">
                    <p class="my-0">${{ total | floatformat:2 }}</p>
                    <p class="my-0">- ${{ discount | floatformat:2 }}</p>
                    <p class="my-0"><strong>${{ grand_total | floatformat:2 }}</strong></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-muted">Please fill out the form below to complete your order!</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                    <div class="mb-3" id="card-element"></div>
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                </fieldset> 
            </form> 

            <div class="submit-button text-right mt-5 mb-2">
                <a href="{% url 'shopping_cart' %}" class="btn btn-light rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Cart</span>
                </a>
                <a href="#" class="btn btn-dark rounded-0 btn-lg">
                    <span class="text-uppercase">Complete Order</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>

                <p class="small text-danger my-0">
                    <span class="icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                </p>
            </div>
        </div>
    </div>
</div>



{% endblock %}
 