@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');


p {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Bebas Neue', sans-serif;
}

/* ------------------- Side Bar */

#sidebar,
#sidebar-mobile {
    padding: 0;
    height: 100vh;
}

#sidebar-mobile .nav {
    padding: 0;
}

#logo {
    font-family: 'Bebas Neue', sans-serif;
}

.nav-link {
    font-size: 30px;
}

.nav-link,
a {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    opacity: 0.7;
}

a:active {
    color: white;
    opacity: 0.7;
}

#sidebar .row {
    margin: 0;
}

#sidebar hr {
    width: 80%;
    margin: 0 auto;
}

#sidebar footer {
    position: absolute;
    bottom: 0;
}

footer a {
    font-size: 20px;
}

/* ------------------- Content Section */

#page-content {
    background-color: #fafafa;
    padding: 0;
}

.card {
    /* background-color: #fff; */
    border: none
}

.input-box {
    position: relative
}

.input-box i {
    position: absolute;
    right: 13px;
    top: 15px;
    /* color: #ced4da */
}

.form-control {
    height: 50px;
    background-color: #eeeeee69;
}

.form-control:focus {
    background-color: #eeeeee69;
    box-shadow: none;
    border-color: #eee
}

.list {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center
}

.border-bottom {
    border-bottom: 2px solid #eee
}

.list i {
    font-size: 19px;
    color: red
}

.list small {
    color: #dedddd
}

#shopping-bag {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100000;
}

#shopping-bag p {
    color: black;
}

#shopping-bag i {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
}

/* ------------------------- Carousel */

.carousel-item{
    height: 100vh;
    width: 100%;
}

.carousel-inner a:hover {
    opacity: 1;
}

.item-1 {
    background-image: url('../../media/images/fr_large.png');
}

.item-2 {
    background-image: url('../../media/images/hs_large.png');
}

.item-3 {
    background-image: url('../../media/images/mg_large.png');
}

.item-1,
.item-2,
.item-3 {
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover;
}


/* ------------------------- Search Bar */

#search-bar {
    position: absolute;
    z-index: 10000;
    top: 0;
    width: 80%;
}
#


/* ------------------------- Pack Display */

.pack-display {
    border: solid 1px black;
}

.packs-all {
    margin-top: 110px;
}

.pack-details-card a {
    font-family: 'Roboto', sans-serif;
    color: black;
}

/* ------------------------- Pack Detail Page */

.pack-detail-margin {
    margin-top: 110px;
    margin-right: 0;
}

.pack-price {
    font-size: 30px;
}

.product-details a {
    font-family: 'Roboto', sans-serif;
    color: black;
}

#demo-player {
    margin: 0 auto;
}

/* ------------------------- Pack Detail Page */

/* ------------------------- Shopping Cart Page */

.cart-details a {
    font-family: 'Roboto', sans-serif;
    color: black;
}


/* ------------------------- Checkout Page */

#checkout-container {
    margin-top: 110px;
}

/* ------------------------- Contact Form */

.contact-margin {
    margin-top: 90px;
}
